*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text

# Force UE5 binary assets to count as C++
*.uasset linguist-language=C++
*.umap linguist-language=C++

# Ignore cache/build folders so they don’t skew stats
Binaries/** linguist-vendored
DerivedDataCache/** linguist-vendored
Intermediate/** linguist-vendored
Saved/** linguist-vendored
.vs/** linguist-vendored

